.header {
    padding: 40px 40px 40px 40px;
    background-image: url(./background.png);

}

.searchbar {
    display: flex;
    align-items: center;
    padding: 40px 0px 40px 40px;
    position: relative;
}

.helpmenu{
    display: flex;
    align-items: center;
    padding: 40px 40px 40px 0px;
    
}

.searchbutton{
    display: flex;
    align-items: center;
}

.image{
    width: 203px;
}
.footer {
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2a2a;
  color: white;
  text-align: center;
  padding: 20px;
}
/* Social List Inside of Modal Box Styling */
.modal-content {
    display: inline-block;
    text-align: center;
}

.social-list {
    background-color: #515151;
}


.social-list a {
    color: whitesmoke;
    
}

.social-list a:hover {
    color: rgb(68, 188, 140);
    
}

#button_secret {
    color: whitesmoke;
}

#columns-results_style {
    text-align: center;
}
/* Sets height for inner columns*/
.column.cake{
    height: 600px;
}

